@import "base/foundation";
@import "namespace/top/top";
// override default styles
body.shop {
    .wrapper {
        margin: 0 auto;
        padding: 0;
    }
    .wrapper, .part4 {
        width: 1200px;
        @include _mq-up(){
            width: 100%;
        }
    }
    #shopHeader {
        display: flex;
        justify-content: space-between;
        h1 {
            text-align: left;
            margin: 13px 0 5.8px;
        }
        nav {
            align-self: center;
            border:0;
            font-family:"Overpass";
            font-size:24px;
            ul {
                text-align: right;
                li{
                    margin: 0;
                    &:nth-child(2) {
                        margin: 0 36px 0 47px;
                    }
                    &:hover {
                        border-bottom:0;
                    }
                }
            }
        }
    }
}

#baseMenu img {
    height: 30px;
}


// swiper
#swiper-top {
    width: 656px;
    border: 3px solid #D53829;
    display: inline-block;
}

.swiper-pagination-bullet {
    display:block;
    opacity: 1;
    background: #fff;
    border: 1px solid #383636;
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background: #D53829;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    width: initial;
    bottom: 3px;
    right: 0;
    left: inherit;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px;
}
