@import "base/foundation";
@import "namespace/top/top";
@import "SiteWide/Menu";
@import "SiteWide/Product";
@import "Structure/Footer";
// override default styles
body.shop {
    .part4 {
        .part {
            height: _get_vw(205);
            width: _get_vw(165);
            margin: 0 _get_vw(15) _get_vw(30);
            @include _mq-up(){
                margin: 0 13px 50px;
                height: 345px;
                width: 280px;
            }
            &:first-child {
                @include _mq-up(){
                    margin: 0 13px 0 0;
                }
            }
            &:last-child {
                @include _mq-up(){
                    margin: 0 0 0 13px;
                }
            }
            &:nth-child(even) {
                margin: 0 _get_vw(15) _get_vw(30) 0;
                @include _mq-up(){
                    margin: 0;
                }
            }
        }
    }
    .wrapper {
        margin: 0 auto;
        padding: 0;
    }
    .wrapper, .part4 {
        width: 100%;
        @include _mq-up(){
            width: 1200px;
        }
    }
    #shopHeader {
        display: flex;
        justify-content: space-between;
        h1 {
            text-align: left;
            flex-grow: 1;
            margin: _get_vw(20) _get_vw(15);
            @include _mq-up() {
                margin: 13px 0 5.8px;
                flex-grow: 0;
            }
            img {
                width: 100%;
                @include _mq-up(){
                    width: auto;
                }
            }
        }
        nav {
            align-self: center;
            border:0;
            font-family:"Overpass";
            font-size:24px;
            display: none;
            @include _mq-up() {
                display: block;
            }
            ul {
                text-align: right;
                li {
                    margin: 0;
                    &:nth-child(2) {
                        margin: 0 36px 0 47px;
                    }
                    &:hover {
                        border-bottom:0;
                    }
                }
            }
        }
    }
    #mainFooter {
        margin: 100px auto 20px;
        .footerMenu {
            ul {
                border-top: _get_vw(1) solid #D53829;
                border-bottom: _get_vw(1) solid #D53829;
                display: inline-block;
                width: 100%;
                @include _mq-up() {
                    border-top: 1px solid #D53829;
                    border-bottom: 1px solid #D53829;
                }
            }
            li {
                margin: _get_vw(14) _get_vw(40) _get_vw(14) 0;
                @include _mq-up(){
                    margin: 30px 36px 30px 8px;
                }
                a{
                    color: #D53829;
                    font-size: _get_vw(12);
                    font-weight: 600;
                    &:hover {
                        border-bottom: 0;
                    }
                    @include _mq-up(){
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

body#shopTopPage .item {
    padding: 0;
    &:hover {
        .itemImg {
            padding: 0;
            border: 0;
        }
    }
    a{
        .itemTitle {
            margin: _get_vw(7) 0 _get_vw(3);
            @include _mq-up() {
                margin: 9px 0 0 0;
            }
            h2{
                color: #6A6A6A;
                font-size: _get_vw(12);
                font-weight: 600;
                margin: 0;
                width: auto;
                text-align: left;
                @include _mq-up(){
                    font-size: 20px;
                }
            }
        }
    }
    .itemDetail .itemPrice {
        font-family: "Overpass";
        font-weight: 600;
        font-size: _get_vw(14);
        color: #D53829;
        text-align: left;
        @include _mq-up() {
            font-size: 20px;
        }
    }
    .itemImg {
        padding: 0;
        height: auto;
        position: relative;
        height: auto;
        line-height: inherit;
        width: auto;
        img {
            max-height: inherit;
            max-width: inherit;
            width: _get_vw(165);
            height: _get_vw(165);
            object-fit: cover;
            border: _get_vw(2) solid #D53829;
            @include _mq-up() {
                width: 280px;
                height: 280px;
                border: 3px solid #D53829;
            }
        }
    }
}

#baseMenu {
    display: none;
    @include _mq-up(){
        display: block;
    }
    img {
        height: 30px;
    }
}


// swiper
#swiper-top {
    border: _get_vw(2) solid #D53829;
    display: inline-block;
    @include _mq-up(){
        width: 656px;
        border: 3px solid #D53829;
    }
}

.swiper-pagination {
    display: none;
    @include _mq-up(){
        display: block;
    }
}

.swiper-pagination-bullet {
    display:block;
    opacity: 1;
    background: #fff;
    border: 1px solid #383636;
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background: #D53829;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    width: initial;
    bottom: 3px;
    right: 0;
    left: inherit;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px;
}
