// override default styles
body.shop {
    .wrapper {
        margin: 0 auto;
    }
    .wrapper, .part4 {
        width: 1200px;
    }
    #shopHeader {
        display: flex;
        justify-content: space-between;
        h1 {
            text-align: left;
            margin: 13px 0 5.8px;
        }
        nav {
            align-self: center;
            border:0;
            font-family:"Overpass";
            font-size:24px;
            ul {
                text-align: right;
                li{
                    margin: 0;
                    &:nth-child(2) {
                        margin: 0 36px 0 47px;
                    }
                    &:hover {
                        border-bottom:0;
                    }
                }
            }
        }
    }
}

#baseMenu img {
    height: 30px;
}


// swiper
#swiper-top {
    width: 656px;
    border: 3px solid #D53829;
    display: inline-block;
}

.swiper-pagination-bullet {
    display:block;
    opacity: 1;
    background: #fff;
    border: 1px solid #383636;
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background: #D53829;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    width: initial;
    bottom: 3px;
    right: 0;
    left: inherit;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px;
}

// custom css
.tp-News {
    display: flex;
    justify-content: space-between;
}

.tp-News_ListContainer {
    flex-grow: 1;
    background: #D53829;
}

.tp-News_ListWrapper {
    padding: 43px 20px 0 30px;
}

.tp-News_List {
    margin-top: 30px;
    &:first-child {
        margin-top: 0;
    }
}

.tp-News_Date {
    font-family: "Overpass";
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    opacity: 0.3;
}

.tp-News_Title {
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    &:link,&:visited {
        text-decoration: underline;
    }
    &:focus,&:hover {
        color: #fff;
    }
}