.sw-Menu {
    display: flex;
    position: relative;
    @include _mq-up(){
        display: none;
    }
}

.sw-Menu_Button {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    background: #D53829;
    border: none;
    outline: 0;
    height: _get_vw(47);
    flex-basis: 50%;
}

.sw-Menu_ButtonCart {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    background: #000;
    border: none;
    outline: 0;
    height: _get_vw(47);
    flex-basis: 50%;
}

.sw-Menu_ButtonCartLink {
    display: block;
    padding: _get_vw(12);
}

.sw-Menu_ButtonCartIcon {
    width: _get_vw(12);
    padding-bottom: _get_vw(2);
}

.sw-Menu_Label {
    color: #fff;
    font-size: _get_vw(14);
    font-weight: 600;
}

.sw-Menu_Icon {
    width: _get_vw(8.3);
    padding-bottom: _get_vw(1);
}

.sw-Menu_ListWrapper {
    list-style: none;
    padding: _get_vw(23) 0 0;
    position: absolute;
    top: _get_vw(45);
    background: #D53829;
    z-index: _z-index('sw-Menu_ListWrapper');
    text-align: center;
}

.sw-Menu_List {
    margin: 0 0 _get_vw(37);
}

.sw-Menu_SocialListWrapper {
    padding: _get_vw(20) 0 0 0;
    display: flex;
    justify-content: space-between;
    width: _get_vw(172);
}

.sw-Menu_IconTwitter {
    width: _get_vw(29);
}

.sw-Menu_IconInstagram {
    width: _get_vw(29);
}

.sw-Menu_IconFacebook {
    width: _get_vw(13);
}