.sw-Product {

}

.sw-Product_Headline {
    font-size: _get_vw(30);
    font-weight: 600;
    font-family: "Overpass";
    color: #D53829;
    text-align: center;
    padding: _get_vw(40) 0 0 0;
}

.sw-Product_Icon {

}