.sw-Product {

}

.sw-Product_Headline {
    font-size: _get_vw(30);
    font-weight: 600;
    font-family: "Overpass";
    color: #D53829;
    text-align: center;
    padding: _get_vw(40) 0 _get_vw(20) 0;
}

.sw-Product_NewIcon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #D53829;
    font-size: _get_vw(12);
    font-weight: 600;
    font-family: "Overpass";
    width: _get_vw(33);
    height: _get_vw(17);
    z-index: _z-index('sw-Product_NewIcon');
}

.sw-Product_MoreButton {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    font-size: _get_vw(14);
    font-weight: 600;
    color: #D53829;
    line-height: 1;
    letter-spacing: _get_vw(2);
    border: _get_vw(2) solid #D53829;
    padding: _get_vw(16) _get_vw(78);
}