.sw-Product {
    margin: _get_vw(95) 0 0;
    @include _mq-up() {
        width: 1200px;
        margin: auto;
    }
}

.sw-Product_Headline {
    font-size: _get_vw(30);
    font-weight: 600;
    font-family: "Overpass";
    color: #D53829;
    text-align: center;
    padding: _get_vw(40) 0 _get_vw(20) 0;
    @include _mq-up(){
        font-size: 40px;
        padding: 60px 0 36px 0;
    }
}

.sw-Product_NewIcon {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #D53829;
    font-size: _get_vw(12);
    font-weight: 600;
    font-family: "Overpass";
    padding: _get_vw(2.5) _get_vw(3.5);
    line-height: 1;
    z-index: _z-index('sw-Product_NewIcon');
    @include _mq-up() {
        font-size: 12px;
        padding: 2.5px 3.5px;
    }
}

.sw-Product_MoreButton {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    font-size: _get_vw(14);
    font-weight: 600;
    color: #D53829;
    line-height: 1;
    letter-spacing: _get_vw(2);
    border: _get_vw(2) solid #D53829;
    padding: _get_vw(16) _get_vw(78);
    background: transparent;
    @include _mq-up() {
        font-size: 16px;
        letter-spacing: 2px;
        border: 3px solid #D53829;
        padding: 18px 87px;
    }
}

.sw-Product_Item {
    height: _get_vw(205);
    width: _get_vw(165);
    margin: 0 _get_vw(15) _get_vw(30);
    float: left;
    @include _mq-up(){
        margin: 0 13px 50px;
        height: 345px;
        width: 280px;
    }
    &:nth-child(even) {
        margin: 0 _get_vw(15) _get_vw(30) 0;
        @include _mq-up(){
            margin: 0 13px 50px;
        }
    }
    &:nth-child(4n+1) {
        @include _mq-up(){
            margin: 0 13px 50px 0;
        }
    }
    &:nth-child(4n) {
        @include _mq-up(){
            margin: 0 0 50px 13px;
        }
    }
}

.sw-Product_ItemImgWrapper {
    padding: 0;
    height: auto;
    position: relative;
    height: auto;
    line-height: inherit;
    width: auto;
}

.sw-Product_ItemImg {
    max-height: inherit;
    max-width: inherit;
    width: _get_vw(165);
    height: _get_vw(165);
    object-fit: cover;
    border: _get_vw(2) solid #D53829;
    @include _mq-up() {
        width: 280px;
        height: 280px;
        border: 3px solid #D53829;
    }
}

.sw-Product_ItemTitle {
    margin: _get_vw(7) 0 _get_vw(3);
    color: #6A6A6A;
    font-size: _get_vw(12);
    font-weight: 600;
    width: auto;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include _mq-up() {
        margin: 9px 0 0 0;
        font-size: 20px;
    }
}

.sw-Product_ItemDetail {
    list-style: none;
    padding: 0;
}

.sw-Product_ItemPrice {
    font-family: "Overpass";
    font-weight: 600;
    font-size: _get_vw(14);
    color: #D53829;
    text-align: left;
    @include _mq-up() {
        font-size: 20px;
    }
}

.sw-Product_SoldoutCover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sw-Product_SoldoutText {
    font-weight: 600;
    color: #D53829;
    font-size: _get_vw(26);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: _get_vw(36);
    text-align: center;
    @include _mq-up() {
        font-size: 26px;
        height: 36px;
    }
}