.st-Footer {
    padding: 0 _get_vw(15);
}

.st-Footer_Copyright {
    font-size: _get_vw(10);
    font-weight: 600;
    color: #D53829;
    text-align: center;
    margin-top: _get_vw(4);
    @include _mq-up(){
        
    }
}