.st-Header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    @include _mq-up() {
        width: 1200px;
        border-bottom: 3px solid #D53829;
    }
}

.st-Header_Shop {
    display: flex;
    justify-content: space-between;
}

.st-Header_Title {
    text-align: center;
    margin: 0;
    flex-grow: 1;
    margin: _get_vw(20) _get_vw(15);
    @include _mq-up() {
        text-align: left;
        margin: 13px 0 5.8px;
        flex-grow: 0;
    }
    img {
        width: _get_vw(150);
        padding: _get_vw(10) 0;
        @include _mq-up(){
            padding: 10px 0;
            width: auto;
        }
    }
}

.st-HeaderTop .st-Header_Title {
    img {
        width: 100%;
    }
}

.st-Header_Link {
    padding: _get_vw(10) 0;
    @include _mq-up() {
        padding: 10px 0;
    }
}

.st-Header_Nav {
    align-self: center;
    border:0;
    font-family:"Overpass";
    font-size:24px;
    display: none;
    font-weight: bold;
    margin: 10px 0;
    @include _mq-up() {
        display: block;
    }
}

.st-Header_NavListWrapper {
    text-align: right;
}

.st-Header_NavList {
    display: inline-block;
    margin: 0;
    @include _mq-up() {
        height: 40px;
        line-height: 20px;
    }
    &:nth-child(2) {
        margin: 0 36px 0 47px;
    }
    &:hover {
        border-bottom:0;
    }
}

.st-Header_NavLink {
    display: block;
    @include _mq-up(){
        padding: 10px;
    }
}