.st-Header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: _z-index('st-Header');
    @include _mq-up() {
        position: static;
        width: 1200px;
        border-bottom: 3px solid #D53829;
    }
}

.st-Header_Shop {
    display: flex;
    justify-content: space-between;
}

.st-Header_Title {
    text-align: center;
    margin: 0;
    flex-grow: 1;
    @include _mq-up() {
        text-align: left;
        margin: 13px 0 5.8px;
        flex-grow: 0;
    }
    img {
        width: _get_vw(150);
        padding: _get_vw(10) 0;
        @include _mq-up(){
            padding: 10px 0;
            width: 553px;
        }
    }
}

.st-Header.st-HeaderTop {
    border-bottom: 0;
}

.st-Header.st-HeaderTop .st-Header_Title {
    margin: _get_vw(20) _get_vw(15);
    @include _mq-up() {
        margin: 13px 0 5.8px;
    }
    img {
        width: 100%;
        @include _mq-up() {
            width: 553px;
        }
    }
}

.st-Header_Link {
    padding: _get_vw(10) 0;
    @include _mq-up() {
        padding: 10px 0;
    }
}

.st-Header_Nav {
    align-self: center;
    border:0;
    font-family:"Overpass";
    display: none;
    font-weight: bold;
    margin: 10px 0;
    @include _mq-up() {
        display: block;
    }
}

.st-Header_NavListWrapper {
    text-align: right;
}

.st-Header_NavList {
    display: inline-block;
    margin: 0;
    @include _mq-up() {
        font-size:24px;
        line-height: 20px;
        margin: 10px 0;
    }
    &:nth-child(2) {
        @include _mq-up() {
            margin: 10px 36px 10px 47px;
        }
    }
    &:hover {
        border-bottom:0;
    }
}

.st-Header_NavListButton {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background: #000;
    margin: 0;
    outline: 0;
    @include _mq-up() {
        font-size: 18px;
        width: 165px;
        height: 53px;
        line-height: 20px;
    }
    &:nth-child(2) {
        margin: 0 36px 0 47px;
    }
}

.st-Header_NavListButtonIcon {
    @include _mq-up() {
        margin-right: 5px;
        width: 22px;
        vertical-align: bottom;
    }
}

.st-Header_NavLink {
    display: block;
}

.st-Header_Menu {
    display: flex;
    position: relative;
    @include _mq-up(){
        display: none;
    }
}

.st-Header_MenuButton {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    background: #D53829;
    border: none;
    outline: 0;
    height: _get_vw(47);
    flex-basis: 50%;
    margin: 0;
    padding: 0;
}

.st-Header_MenuButtonCart {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    background: #000;
    border: none;
    outline: 0;
    height: _get_vw(47);
    flex-basis: 50%;
    margin: 0;
    padding: 0;
}

.st-Header_MenuButtonCartLink {
    display: block;
    padding: _get_vw(12);
}

.st-Header_MenuButtonCartIcon {
    width: _get_vw(12);
    padding-bottom: _get_vw(2);
}

.st-Header_MenuLabel {
    color: #fff;
    font-size: _get_vw(14);
    font-weight: 600;
}

.st-Header_MenuIcon {
    width: _get_vw(8.3);
    padding-bottom: _get_vw(1);
}

.st-Header_MenuListWrapper {
    // display: none;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    list-style: none;
    width: 100%;
    height: 0;
    padding: _get_vw(23) 0 0;
    position: absolute;
    top: _get_vw(45);
    background: #D53829;
    z-index: _z-index('sw-Menu_ListWrapper');
    text-align: center;
    transition: all .3s ease-in-out;
}

.st-Header_MenuListWrapper-active {
    display: block;
    transition: all .3s ease-in-out;
    visibility: visible;
    opacity: 1;
    height: 100vh;
}

.st-Header_MenuList {
    margin: 0 0 _get_vw(37);
}

.st-Header_MenuListLink {
    color: #fff;
    font-size: _get_vw(30);
    font-weight: 600;
    font-family: 'Overpass';
    @include _on-event() {
        color: #fff;
    }
}

.st-Header_MenuSocialListWrapper {
    padding: _get_vw(20) 0 0 0;
    display: flex;
    justify-content: space-between;
    width: _get_vw(172);
    list-style: none;
    margin: auto;
}

.st-Header_MenuIconTwitter {
    width: _get_vw(29);
}

.st-Header_MenuIconInstagram {
    width: _get_vw(29);
}

.st-Header_MenuIconFacebook {
    width: _get_vw(29);
}