.sg-Product {
    padding: _get_vw(30) _get_vw(15) 0;
    @include _mq-up(){
        width: 1200px;
        margin: auto;
        padding: 68px 0 0 0;
    }
}

.sg-Product_ItemImg {
    @include _mq-up() {
        float: left;
    }
}

.sg-Product_ItemImgSlide {
    position: relative;
    border: _get_vw(2) solid #D53829;
    @include _mq-up() {
        border: 3px solid #D53829;
        overflow: hidden;
        width: 492px;
        height: 492px;
    }
}

.sg-Product_NewIcon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #D53829;
    font-size: _get_vw(12);
    font-weight: 600;
    font-family: "Overpass";
    padding: _get_vw(2.5) _get_vw(3.5);
    line-height: 1;
    z-index: _z-index('sw-Product_NewIcon');
    @include _mq-up() {
        font-size: 12px;
        padding: 2.5px 3.5px;
    }
}

.sg-Product_SlideImg {
    list-style: none;
    padding: 0;
}

.sg-Product_SlideImgPager {
    list-style: none;
    padding: _get_vw(15) 0 0 0;
    @include _mq-up() {
        padding: 20px 0 0 0;
    }
}

.sg-Product_SlideImgPagerList {
    border: _get_vw(2) solid #D53829;
    float: left;
    width: _get_vw(100);
    height: _get_vw(100);
    @include _mq-up() {
        border: 3px solid #D53829;
        width: 150px;
        height: 150px;
    }
    &:nth-child(2) {
        margin: 0 _get_vw(22);
        @include _mq-up() {
            margin: 0 22px;
        }
    }
}

.sg-Product_SlideImgPagerList-noimage {
    width: _get_vw(100);
    height: _get_vw(100);
    display: block;
    border: _get_vw(2) solid #BFBFBF;
    background: #F2F2F2;
    float: left;
    @include _mq-up() {
        border: 3px solid #BFBFBF;
        width: 150px;
        height: 150px;
    }
    &:nth-child(2) {
        margin: 0 _get_vw(22);
        @include _mq-up() {
            margin: 0 22px;
        }
    }
}

.sg-Product_ItemTitle {
    font-weight: 600;
    font-size: _get_vw(20);
    color: #6A6A6A;
    margin: _get_vw(15) 0 _get_vw(10);
    @include _mq-up() {
        font-size: 30px;
        margin: 0 0 10px;
    }
}

.sg-Product_ItemPrice {
    font-size: _get_vw(20);
    font-family: "Overpass";
    font-weight: 600;
    color: #D53829;
    @include _mq-up() {
        font-size: 30px;
    }
}

.sg-Product_PurchaseForm {
    margin: _get_vw(8) 0 0 0;
    label {
        font-size: _get_vw(16);
    }
    select {
        width: 100%;
        height: _get_vw(50);
        font-size: _get_vw(16);
        font-weight: 600;
    }
    .purchaseButton {
        margin: _get_vw(5) 0 0 0;
    }
    .purchaseButton__btn {
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        width: 100%;
        outline: 0;
        background: #000;
        color: #fff;
        font-size: _get_vw(14);
        font-weight: 600;
        letter-spacing: _get_vw(2);
        line-height: 1;
        padding: _get_vw(23);
        &:after {
            content: " ";
            position: absolute;
            margin: auto;
            display: block;
            top: 0;
            bottom: 0;
            right: _get_vw(15);
            transform: rotate(45deg);
            border: 0;
            width: _get_vw(8);
            height: _get_vw(8);
            border-top: solid _get_vw(2) #fff;
            border-right: solid _get_vw(2) #fff;
        }
    }
}

.sg-Product_ItemDescription {
    font-size: _get_vw(16);
    font-weight: 300;
    color: #6A6A6A;
    line-height: _get_vw(27);
    border-top: _get_vw(2) solid #D53829;
    border-bottom: _get_vw(2) solid #D53829;
    padding: _get_vw(20) 0 _get_vw(10);
    margin: _get_vw(25) 0 0 0;
}

.sg-Product_Share {
    border-bottom: _get_vw(2) solid #D53829;
    padding: _get_vw(20) 0 _get_vw(30);
}

.sg-Product_ShareTitle {
    font-size: _get_vw(18);
    font-weight: 600;
    color: #383838;
    text-align: center;
}

.sg-Product_ShareButtonWrapper {
    margin: _get_vw(14) 0 0 0;
    display: flex;
    justify-content: space-between;
}

.sg-Product_ShareButton {
    flex-basis: _get_vw(80);
}

.sg-Product_Attention {
    font-size: _get_vw(12);
    font-weight: 300;
    line-height: _get_vw(20);
    margin: _get_vw(18) 0 0 0;
}