.si-Product {
    padding: _get_vw(30) _get_vw(15) 0;
    @include _mq-up(){
        width: 1200px;
    }
}

.si-Product_Item {

}

.si-Product_ItemImgSlide {
    position: relative;
    border: _get_vw(2) solid #D53829;
}

.si-Product_NewIcon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #D53829;
    font-size: _get_vw(12);
    font-weight: 600;
    font-family: "Overpass";
    padding: _get_vw(2.5) _get_vw(3.5);
    line-height: 1;
    z-index: _z-index('sw-Product_NewIcon');
    @include _mq-up() {
        font-size: 12px;
        padding: 2.5px 3.5px;
    }
}

.si-Product_SlideImg {
    list-style: none;
    padding: 0;
}

.si-Product_SlideImgPager {
    list-style: none;
    padding: _get_vw(15) 0 0 0;
}

.si-Product_SlideImgPagerList {
    border: _get_vw(2) solid #D53829;
    float: left;
    width: _get_vw(100);
    height: _get_vw(100);
    &:nth-child(2) {
        margin: 0 _get_vw(22);
    }
}

.si-Product_SlideImgPagerList-noimage {
    width: _get_vw(100);
    height: _get_vw(100);
    display: block;
    border: _get_vw(2) solid #BFBFBF;
    background: #F2F2F2;
    float: left;
    @include _mq-up() {
        border: 2px solid #BFBFBF;
    }
}