.sg-Product {
    padding: _get_vw(125) _get_vw(15) 0;
    @include _mq-up(){
        width: 1200px;
        margin: auto;
        padding: 68px 0 0 0;
    }
}

.sg-Product_Item {
    @include _mq-up() {
        display: flex;
        justify-content: space-between;
    }
}

.sg-Product_ItemImg {
    @include _mq-up() {
        // float: left;
    }
}

.sg-Product_ItemInfo {
    @include _mq-up() {
        width: 646px;
    }
}

.sg-Product_ItemImgSlide {
    position: relative;
    border: _get_vw(2) solid #D53829;
    @include _mq-up() {
        border: 3px solid #D53829;
        overflow: hidden;
        width: 492px;
        height: 735px;
    }
}

.sg-Product_NewIcon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #D53829;
    font-size: _get_vw(12);
    font-weight: 600;
    font-family: "Overpass";
    padding: _get_vw(2.5) _get_vw(3.5);
    line-height: 1;
    z-index: _z-index('sw-Product_NewIcon');
    @include _mq-up() {
        font-size: 12px;
        padding: 2.5px 3.5px;
    }
}

.sg-Product_SlideImg {
    list-style: none;
    padding: 0;
    .imgBox {
        background-size: 250%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        overflow: hidden;
        @include _mq-up() {
            padding-top: 729px;
        }
        &:before {
            background: inherit;
            filter: blur(0.6rem);
            content: "";
            position: absolute;
            top: -0.6rem;
            bottom: -0.6rem;
            left: -0.6rem;
            right: -0.6rem;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
        }
    }
    a {
        pointer-events: none;
    }
}

.sg-Product_SlideImgPager {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: _get_vw(15) 0 0 0;
    @include _mq-up() {
        padding: 20px 0 0 0;
        width: 492px;
    }
}

.sg-Product_SlideImgPagerList {
    width: _get_vw(100);
    height: _get_vw(100);
    @include _mq-up() {
        width: 150px;
        height: 150px;
    }
}

.sg-Product_SlideImgPagerList-noimage {
    width: _get_vw(100);
    height: _get_vw(100);
    display: block;
    border: _get_vw(2) solid #BFBFBF;
    background: #F2F2F2;
    float: left;
    @include _mq-up() {
        border: 3px solid #BFBFBF;
        width: 150px;
        height: 150px;
    }
}

.sg-Product_ItemTitle {
    font-weight: 600;
    font-size: _get_vw(20);
    color: #6A6A6A;
    margin: _get_vw(15) 0 _get_vw(10);
    @include _mq-up() {
        font-size: 30px;
        margin: 0 0 10px;
    }
}

.sg-Product_ItemPrice {
    font-size: _get_vw(20);
    font-family: "Overpass";
    font-weight: 600;
    color: #D53829;
    @include _mq-up() {
        font-size: 30px;
    }
}

.sg-Product_PurchaseForm {
    margin: _get_vw(8) 0 0 0;
    @include _mq-up() {
        margin: 0;
    }
    .purchaseElement {
        position: relative;
        @include _mq-up() {
            display: inline-block;
        }
        &:after {
            content: " ";
            position: absolute;
            margin: auto;
            display: block;
            top: _get_vw(18);
            bottom: 0;
            right: _get_vw(15);
            transform: rotate(135deg);
            border: 0;
            width: _get_vw(8);
            height: _get_vw(8);
            border-top: solid _get_vw(2) #000;
            border-right: solid _get_vw(2) #000;
            @include _mq-up() {
                top: -12px;
                right: 15px;
                width: 8px;
                height: 8px;
                border-top: solid 2px #000;
                border-right: solid 2px #000;
            }
        }
    }
    #amountSelectWrap.purchaseElement {
        @include _mq-up() {
            margin-left: 13px;
        }
    }
    label {
        font-size: _get_vw(16);
        @include _mq-up() {
            font-size: 16px;
            margin-right: 15px;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        width: 100%;
        height: _get_vw(50);
        font-size: _get_vw(16);
        font-weight: 600;
        border: _get_vw(2) solid #000;
        @include _mq-up() {
            width: auto;
            height: 50px;
            font-size: 16px;
            border: 2px solid #000;
        }
    }
    .purchaseButton {
        margin: _get_vw(5) 0 0 0;
        @include _mq-up() {
            margin: 30px 0 0 0;
        }
    }
    .purchaseButton__btn {
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        width: 100%;
        outline: 0;
        background: #000;
        color: #fff;
        font-size: _get_vw(14);
        font-weight: 600;
        letter-spacing: _get_vw(2);
        line-height: 1;
        padding: _get_vw(23);
        display: block;
        @include _mq-up() {
            width: 345px;
            font-size: 18px;
            letter-spacing: 2px;
            padding: 20px;
        }
        &:after {
            content: " ";
            position: absolute;
            margin: auto;
            display: block;
            top: 0;
            bottom: 0;
            right: _get_vw(15);
            transform: rotate(45deg);
            border: 0;
            width: _get_vw(8);
            height: _get_vw(8);
            border-top: solid _get_vw(2) #fff;
            border-right: solid _get_vw(2) #fff;
            @include _mq-up() {
                right: 15px;
                width: 8px;
                height: 8px;
                border-top: solid 2px #fff;
                border-right: solid 2px #fff;
            }
        }
    }
    .purchaseButton__btn.purchaseButton__btn--noItem {
        @include _mq-up() {
            font-size: 16px;
        }
    }
}

.sg-Product_ItemDescriptionPc {
    display: none;
    @include _mq-up() {
        display: block;
        font-size: 16px;
        font-weight: 300;
        color: #6A6A6A;
        line-height: 30px;
        margin: 20px 0 30px;
    }
}

.sg-Product_ItemDescriptionSp {
    font-size: _get_vw(16);
    font-weight: 300;
    color: #6A6A6A;
    line-height: _get_vw(27);
    border-top: _get_vw(2) solid #D53829;
    border-bottom: _get_vw(2) solid #D53829;
    padding: _get_vw(20) 0 _get_vw(10);
    margin: _get_vw(25) 0 0 0;
    @include _mq-up() {
        display: none;
    }
}

.sg-Product_SharePc {
    display: none;
    @include _mq-up() {
        display: block;
    }
}

.sg-Product_ShareSp {
    border-bottom: _get_vw(2) solid #D53829;
    padding: _get_vw(20) 0 _get_vw(30);
    @include _mq-up() {
        display: none;
    }
}

.sg-Product_SharePc {
    display: none;
    position: relative;
    @include _mq-up() {
        margin: 70px 0 0;
        padding: 38px 0 0 0;
        border-top: 3px solid #CCCCCC;
        display: block;
    }
}

.sg-Product_ShareTitle {
    font-size: _get_vw(18);
    font-weight: 600;
    color: #383838;
    text-align: center;
}

.sg-Product_SharePc .sg-Product_ShareTitle {
    position: absolute;
    font-size: 18px;
    left: 0;
    top: -15px;
    background: #fff;
    padding: 0 6px;
}

.sg-Product_ShareButtonWrapper {
    margin: _get_vw(14) 0 0 0;
    display: flex;
    justify-content: space-between;
}

.sg-Product_SharePc .sg-Product_ShareButtonWrapper {
    margin: 0;
    display: block;
}

.sg-Product_ShareButton {
    flex-basis: _get_vw(80);
}

.sg-Product_SharePc .sg-Product_ShareButton {
    display: block;
    width: 250px;
    float: left;
    margin: 0 27px 0 0;
}

.sg-Product_Attention {
    font-size: _get_vw(12);
    font-weight: 300;
    line-height: _get_vw(20);
    margin: _get_vw(18) 0 0 0;
    @include _mq-up() {
        font-size: 12px;
        line-height: 20px;
        margin: 24px 0 0 0;
    }
}

.sg-Product_SlideImgFile {
    object-fit: cover;
    width: _get_vw(96);
    height: _get_vw(96);
    @include _mq-up() {
        width: 150px;
        height: 150px;
    }
}